* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
}
.container {
  position: relative;
}
.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px, 0px, 30px rgba(0, 0, 0, 0.9);
  display: flex; /*clock inner dot want to center so use this property*/
  justify-content: center; /*clock inner dot want to center so use this property*/
  align-items: center; /*clock inner dot want to center so use this property*/
}
.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}
.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}
.clock::before {
  /* Make clock inner dot */
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  z-index: 2; /* clock hands in center using 2 */
}
.hand {
  /* use this property clock hands face are up */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hand i {
  position: absolute;
  background-color: var(
    --clr
  ); /* Pass this variable (--clr) in HTML to change the hands color */
  width: 4px;
  height: var(
    --h
  ); /* Pass this variable (--h) in HTML to change the clock hands sizes */
  border-radius: 8px;
}
